{% block content %}
<script src="https://cdn.tailwindcss.com"></script>
    <div class="flex items-center justify-center min-h-screen bg-gradient-to-r from-blue-100 to-blue-300">
        <div class="w-full max-w-md bg-white shadow-2xl rounded-2xl p-8 border border-gray-200">
            <h1 class="text-3xl font-bold text-gray-800 text-center">Lütfen Giriş Yapınız</h1>
            <hr class="my-4 border-gray-300">
            <form method="post" class="space-y-6">
                {% csrf_token %}
                <div>
                    <label for="username" class="block text-gray-700 font-large">Kullanıcı Adı</label>
                    <input type="text" name="username" id="username" class="w-full px-4 py-3 mt-1 border rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none" required>
                </div>
                <div>
                    <label for="password" class="block text-gray-700 font-large">Parola</label>
                    <input type="password" name="password" id="password" class="w-full px-4 py-3 mt-1 border rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none" required>
                </div>
                <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 transition duration-300 shadow-md">
                    Giriş Yap
                </button>
            </form>
            <p class="text-center text-gray-600 mt-4">Henüz bir hesabınız yok mu?</p>
            <a href="{% url 'register' %}" 
            class="block w-full text-center bg-gray-200 text-gray-800 py-2 rounded-lg hover:bg-gray-300 transition duration-300 mt-2">
                Kayıt Ol
            </a>
        </div>
    </div>
{% endblock content %}
